/* ========>>>TYPOGRAPHY CSS<<<======== */
/* .Typo{
         background-color: black;
         color: red;
         text-align: center ;
         box-shadow: 0.1rem 0.1rem 0.1rem 0.8rem  violet;
         border: 4rem;
         border-radius: 3rem;
         width: 40vw;
} */

/* ========>>>>BUTTON CSS<<<<======== */

